
.navbar-static-top, .navbar-nav {
    display: table;
    content: " ";
}

.navbar-static-top {
    padding: 0 10px;
    width: calc(100% - 230px);
}

.sidebar-menu {
    display: block !important;
}